{% load static %}
<!doctype html>
<html lang="ja">
<head>
<link rel="stylesheet"
 href="{% static 'plural_table/css/plural_table.css' %}">
<title>{{ title }}</title>
</head>
<body>
<p>{{message|safe}}</p>
<p>＊以下のレコードを削除します。</p>
<table>
<tr><th>ID</th><td>{{obj.id}}</td></tr>
<tr><th>Id_author</th><td>{{obj.id_author}}</td></tr>
<tr><th>Name_jp</th><td>{{obj.name_jp}}</td></tr>
<tr><th>Name_en</th><td>{{obj.name_en}}</td></tr>
<form action="{% url 'author_delete' id %}" method="post">
	{% csrf_token %}
	<input type="submit" value="click">
</form>
</table>

<hr />
Feb/09/2019 AM 08:44<p />
</body>
</html>
